**Esercizi Neo4j 2**

In [ ]:
!pip install neo4j-driver

Collecting neo4j-driver
  Downloading neo4j-driver-4.4.0.tar.gz (89 kB)
     |████████████████████████████████| 89 kB 3.8 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from neo4j-driver) (2018.9)
Building wheels for collected packages: neo4j-driver
  Building wheel for neo4j-driver (setup.py) ... done
  Created wheel for neo4j-driver: filename=neo4j_driver-4.4.0-py3-none-any.whl size=114976 sha256=1d20b742f66c6bb93592b2c1b4c3daa69649de8ac6fee72d5c097dbf6cf4c50b
  Stored in directory: /root/.cache/pip/wheels/5e/89/23/48d22f30bfad0866aac1078fb2e24db1dd3750c46198557ffe
Successfully built neo4j-driver
Installing collected packages: neo4j-driver
Successfully installed neo4j-driver-4.4.0

In [ ]:
from neo4j import GraphDatabase, basic_auth
import pandas as pd
pd.options.display.max_rows = 999

In [ ]:
driver = GraphDatabase.driver("bolt://3.235.133.192:7687", auth=basic_auth("neo4j", "jurisdictions-walks-symbol"))

Prendere in considerazione su Neo4j sandbox il database “Women's World Cup 2019” ed utilizzare il comando
```
call db.schema.visualization()
```
per avere un quadro dei nodi e degli archi che lo compongono. Il database contiene le informazioni della Women's World Cup dal 1999 al 2019.

Realizzare poi un notebook Python per estrarre le seguenti informazioni:

In [ ]:
# 1. i nomi delle squadre che hanno partecipano al torneo nel 2015
cypher_query = '''
MATCH (t:Team)-[p:PARTICIPATED_IN]-(T:Tournament {year: 2015})
RETURN t.name AS nome
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df1 = pd.DataFrame(result)
df1

              nome
0   Korea Republic
1          Germany
2          Nigeria
3   CÃ´te d'Ivoire
4           Norway
5         Thailand
6           Canada
7          Ecuador
8         China PR
9            Japan
10        Cameroon
11             USA
12         England
13          Sweden
14          Brazil
15     New Zealand
16      Costa Rica
17           Spain
18          Mexico
19        Colombia
20          France
21     Switzerland
22     Netherlands
23       Australia

In [ ]:
# 2. i nomi delle squadre che hanno partecipato al torneo nel 2015 (farlo in un altro modo)
cypher_query = '''
MATCH (t:Team)-[n:NAMED]-(s:Squad)-[f:FOR]-(T:Tournament)
WHERE s.id CONTAINS 'in 2015'
RETURN t.name AS nome
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df2 = pd.DataFrame(result)
df2

              nome
0        Australia
1           Brazil
2         Cameroon
3           Canada
4         China PR
5         Colombia
6       Costa Rica
7   CÃ´te d'Ivoire
8          Ecuador
9          England
10          France
11         Germany
12           Japan
13  Korea Republic
14          Mexico
15     Netherlands
16     New Zealand
17         Nigeria
18          Norway
19           Spain
20          Sweden
21     Switzerland
22        Thailand
23             USA

In [ ]:
# 3. il numero di partecipazioni di ogni nazione
cypher_query = '''
MATCH (t:Team)-[p:PARTICIPATED_IN]-(T:Tournament)
RETURN t.name AS nome, COUNT(p) AS totale
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df3 = pd.DataFrame(result)
df3

                 nome  totale
0   Equatorial Guinea       1
1             Nigeria       8
2           Australia       7
3               Japan       8
4           Korea DPR       4
5             England       5
6              France       4
7             Germany       8
8              Norway       8
9              Sweden       8
10             Canada       7
11             Mexico       3
12                USA       8
13        New Zealand       5
14             Brazil       8
15           Colombia       2
16          Argentina       3
17           Cameroon       2
18              Chile       1
19           China PR       7
20              Italy       3
21            Jamaica       1
22     Korea Republic       3
23        Netherlands       2
24           Thailand       2
25              Spain       2
26       South Africa       1
27           Scotland       1
28            Denmark       4
29     Chinese Taipei       1
30             Russia       2
31              Ghana       3
32     CÃ´te d'Ivoire       1
33            Ecuador       1
34         Costa Rica       1
35        Switzerland       1

In [ ]:
# 4. gli allenatori dell'Italia
cypher_query = '''
MATCH (t:Team {name: 'Italy'})-[n:NAMED]-(s:Squad)-[c:COACH_FOR]-(p:Person)
RETURN p.name AS allenatori
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df4 = pd.DataFrame(result)
df4

         allenatori
0     Facchin Carlo
1  Milena Bertolini
2     Guenza Sergio

In [ ]:
# 5. le giocatrici dell'Italia che hanno segnato e in quale partita hanno segnato (data)
cypher_query = '''
MATCH (m:Match)-[s:SCORED_GOAL]-(p:Person)-[r:REPRESENTS]-(t:Team {name: 'Italy'})
RETURN p.name AS nome, m.date AS data
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df5 = pd.DataFrame(result)
df5

                  nome        data
0    Raffaella Saimaso  1991-11-24
1          Paola Zanni  1999-06-27
2      Patrizia Panico  1999-06-27
3      Patrizia Panico  1999-06-20
4     Barbara Bonansea  2019-06-09
5     Barbara Bonansea  2019-06-09
6         Rita Guarino  1991-11-24
7         Aurora Galli  2019-06-14
8         Aurora Galli  2019-06-14
9         Aurora Galli  2019-06-25
10    Adele Marsiletti  1991-11-17
11     Morace Carolina  1991-11-17
12     Morace Carolina  1991-11-19
13     Morace Carolina  1991-11-17
14     Morace Carolina  1991-11-17
15   Cristiana Girelli  2019-06-14
16   Cristiana Girelli  2019-06-14
17   Cristiana Girelli  2019-06-14
18  Feriana Ferraguzzi  1991-11-17
19  Valentina Giacinti  2019-06-25

In [ ]:
# 6. il numero di gol segnato dalle giocatrici italiane in totale
cypher_query = '''
MATCH (m:Match)-[s:SCORED_GOAL]-(p:Person)-[r:REPRESENTS]-(t:Team {name: 'Italy'})
RETURN COUNT(p) as totale
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df6 = pd.DataFrame(result)
df6

   totale
0      20

In [ ]:
# 7. le giocatrici che hanno partecipato alla partita del 9 giugno 2019
cypher_query = '''
MATCH (a:Person)-[p:PLAYED_IN]-(m:Match {date: date('2019-06-09')})
RETURN a.name AS nome
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df7 = pd.DataFrame(result)
df7

                     nome
0             Hayley Raso
1          Lydia Williams
2               Sara Gama
3    Elise Kellond-Knight
4   Valentina Bergamaschi
5          Alanna Kennedy
6           Caitlin Foord
7           Elisa Bartoli
8           Samantha Kerr
9         Ellie Carpenter
10     Valentina Giacinti
11         Laura Giuliani
12            Alia Guagni
13          Lisa De Vanna
14           Aurora Galli
15       Daniela Sabatino
16            Tameka Butt
17       Emily Van Egmond
18       Barbara Bonansea
19          Chloe Logarzo
20           Steph Catley
21           Ilaria Mauro
22      Valentina Cernoia
23      Manuela Giugliano
24      Cristiana Girelli
25     Clare Polkinghorne
26           Elena Linari
27          Katrina Gorry
28             Kim Little
29             Jill Scott
30        Nicola Docherty
31         Karen Bardsley
32          Caroline Weir
33           Kirsty Smith
34            Ellen White
35              Beth Mead
36         Steph Houghton
37          Jenny Beattie
38             Fran Kirby
39          Lee Alexander
40          Nikita Parris
41            Lucy Bronze
42            Keira Walsh
43          Erin Cuthbert
44        Georgia Stanway
45           Karen Carney
46        Christie Murray
47           Chloe Arthur
48          Abbie Mcmanus
49         Alex Greenwood
50          Sophie Howard
51          Rachel Corsie
52             Lisa Evans
53          Millie Bright
54           Lizzie Arnot
55          Claire Emslie
56  Dominique Bond-Flasza
57           Khadija Shaw
58                Beatriz
59       Sydney Schneider
60        Cheyna Matthews
61         Leticia Santos
62        Chantelle Swaby
63                 Daiane
64                Formiga
65          Konya Plummer
66          Havana Solaun
67                 Thaisa
68         Marlo Sweatman
69                Barbara
70           Trudi Carter
71             Jody Brown
72                 Monica
73                Debinha
74        Tiffany Cameron
75         Chinyelu Asher
76                Tamires
77              Kathellen
78              Cristiane
79                Ludmila
80         Andressa Alves
81      Den-Den Blackwood
82                  Geyse
83          Allyson Swaby

In [ ]:
# 8. le giocatrici che hanno segnato nella partita del 9 giugno 2019
cypher_query = '''
MATCH (a:Person)-[p:SCORED_GOAL]-(m:Match {date: date('2019-06-09')})
RETURN a.name AS nome
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df8 = pd.DataFrame(result)
df8

               nome
0     Samantha Kerr
1  Barbara Bonansea
2  Barbara Bonansea
3     Nikita Parris
4     Claire Emslie
5       Ellen White
6         Cristiane
7         Cristiane
8         Cristiane

In [ ]:
# 9. le giocatrici che non hanno segnato nella partita del 9 giugno 2019
# google it: https://neo4j.com/developer/cypher/filtering-query-results/#filter-patterns
cypher_query = '''
MATCH (a:Person)-[p:PLAYED_IN]-(m:Match {date: date('2019-06-09')})
WHERE NOT exists((a)-[:SCORED_GOAL]-(m))
RETURN a.name AS nome
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df9 = pd.DataFrame(result)
df9

                     nome
0             Hayley Raso
1          Lydia Williams
2               Sara Gama
3    Elise Kellond-Knight
4   Valentina Bergamaschi
5          Alanna Kennedy
6           Caitlin Foord
7           Elisa Bartoli
8         Ellie Carpenter
9      Valentina Giacinti
10         Laura Giuliani
11            Alia Guagni
12          Lisa De Vanna
13           Aurora Galli
14       Daniela Sabatino
15            Tameka Butt
16       Emily Van Egmond
17          Chloe Logarzo
18           Steph Catley
19           Ilaria Mauro
20      Valentina Cernoia
21      Manuela Giugliano
22      Cristiana Girelli
23     Clare Polkinghorne
24           Elena Linari
25          Katrina Gorry
26             Kim Little
27             Jill Scott
28        Nicola Docherty
29         Karen Bardsley
30          Caroline Weir
31           Kirsty Smith
32              Beth Mead
33         Steph Houghton
34          Jenny Beattie
35             Fran Kirby
36          Lee Alexander
37            Lucy Bronze
38            Keira Walsh
39          Erin Cuthbert
40        Georgia Stanway
41           Karen Carney
42        Christie Murray
43           Chloe Arthur
44          Abbie Mcmanus
45         Alex Greenwood
46          Sophie Howard
47          Rachel Corsie
48             Lisa Evans
49          Millie Bright
50           Lizzie Arnot
51  Dominique Bond-Flasza
52           Khadija Shaw
53                Beatriz
54       Sydney Schneider
55        Cheyna Matthews
56         Leticia Santos
57        Chantelle Swaby
58                 Daiane
59                Formiga
60          Konya Plummer
61          Havana Solaun
62                 Thaisa
63         Marlo Sweatman
64                Barbara
65           Trudi Carter
66             Jody Brown
67                 Monica
68                Debinha
69        Tiffany Cameron
70         Chinyelu Asher
71                Tamires
72              Kathellen
73                Ludmila
74         Andressa Alves
75      Den-Den Blackwood
76                  Geyse
77          Allyson Swaby