[**MongoDB CRUD Operations**](https://docs.mongodb.com/manual/crud/)

*   Create (se viene fatta una insert in una collection che non esiste, MongoDB la crea anche)
*   Read
*   Update
*   Delete

In [ ]:
!pip install dnspython
import pymongo
import pandas as pd

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [ ]:
# stringa di connessione
client = pymongo.MongoClient("mongodb+srv://sloth:dO3lv8InQOkqMbDr@cluster0.nljzd.mongodb.net/sample_mflix?retryWrites=true&w=majority")
db = client.sample_mflix # nome del database

In [ ]:
# insert nome, cognome e hobbies di uno studente
db.studenti.insert({'nome': 'Nicol√≤', 'cognome': 'Pierro', 'hobbies': ['videogiochi', 'musica']})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('616ff85269368d29ea3a9b03')

In [ ]:
# update del nome dei campi con cognome Pierro
db.studenti.update({'cognome': 'Pierro'}, {'$set': {'nome': 'Emanuele'}})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.

{'$clusterTime': {'clusterTime': Timestamp(1634728019, 10),
  'signature': {'hash': b'\xf5h0\x80!\xdb\xef\xf4A\x9a\x92"!|\x9f\x04\xf7\xf94m',
   'keyId': 6979198955510824961}},
 'electionId': ObjectId('7fffffff0000000000000067'),
 'n': 1,
 'nModified': 0,
 'ok': 1.0,
 'opTime': {'t': 103, 'ts': Timestamp(1634728019, 10)},
 'operationTime': Timestamp(1634728019, 10),
 'updatedExisting': True}

In [ ]:
# find dopo insert e update
df1 = pd.DataFrame(list(db.studenti.find({'nome': 'Emanuele'})))
df1.head()

                        _id      nome cognome                hobbies
0  616ff83569368d29ea3a9b02  Emanuele  Pierro  [videogiochi, musica]

In [ ]:
# delete del documento dalla collection
from bson.objectid import ObjectId
db.studenti.remove({'_id': ObjectId('616ff83569368d29ea3a9b02')})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until

{'$clusterTime': {'clusterTime': Timestamp(1634728090, 1),
  'signature': {'hash': b'\xc3^B\x92\xd7\xf3b\xed\xcf@(:N\x19\xaf:\xb7\xce)\xfd',
   'keyId': 6979198955510824961}},
 'electionId': ObjectId('7fffffff0000000000000067'),
 'n': 1,
 'ok': 1.0,
 'opTime': {'t': 103, 'ts': Timestamp(1634728090, 1)},
 'operationTime': Timestamp(1634728090, 1)}

In [ ]:
# find dopo il remove
df2 = pd.DataFrame(list(db.studenti.find({})))
df2.head()

Empty DataFrame
Columns: []
Index: []